<div class="login-container" *ngIf="!isLoggedin">
  <h1>SSO using angularx-social-login</h1>
  <button (click)="loginWithGoogle()" class="btn google">
    <i class="fa fa-google fa-fw"></i>
    Login with Google +
  </button>
  <button (click)="loginWithFacebook()" class="btn fb">
    <i class="fa fa-facebook fa-fw"></i>
    Login with Facebook
  </button>
</div>

<div *ngIf="isLoggedin">
  <button class="btn" (click)="logOut()">
    <i class="fa fa-sign-out fa-fw"></i>
    Log out
  </button>
  <h1>Welcome, {{ socialUser?.name }}</h1>
  <pre>{{ socialUser | json }}</pre>
</div>

<div>
  <h1>SSO using Auth0</h1>
  <app-auth-button></app-auth-button>
</div>
